*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    padding:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


#area {
    width: 95%;
    box-sizing: border-box;
    height: 250px;
    border: 1px solid black;
    display: block;
  }